@import url(./moon-phase.css);

.page_head {
    width: 50%;
    margin-top: 2em;
    text-align: center;
}

.page_body {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.page_main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 3em;
    margin-bottom: 2em;
}

.page_main h3 {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
    font-family: "Roboto-Regular";
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-left: 1px solid rgb(150, 150, 186);
}

.page_main article {
    display: flex;
    margin-bottom: 5em;
    gap: 1em;
}

.article_figure {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 7em;
}

article figcaption {
    font-size: 15px;
}
.featured_img {
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.info h2 {
    margin-bottom: 0.5em;
    font-family: "Roboto-ExtraBold";
}

.info p {
    font-family: "Roboto-Light";
    padding-bottom: 1em;
}
.info a {
    font-size: 15px;
    color: rgb(137, 17, 223);
}

@media (max-width: 940px) {
    .page_body {
        flex-direction: column;
    }

    aside {
        padding: 0;
        border-left: none;
    }

    aside article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 640px) {
    .container {
        --container-padding: 15px;
    }
}
