@font-face {
    font-family: "Roboto-Black";
    src: url(./fonts/Roboto-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(./fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url(./fonts/Roboto-LightItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-ExtraBold";
    src: url(./fonts/Roboto-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(./fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url(./fonts/Roboto-Light.ttf) format("truetype");
}
